app/wadlFiles/application3.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><application xmlns="http://wadl.dev.java.net/2009/02"><doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.13 06/29/2012 05:14 PM"/><grammars><include href="application.wadl/xsd0.xsd"><doc xml:lang="en" title="Generated"/></include></grammars><resources base="http://dev-software.vidal.net/excalibur-rest-snapshot/rest/"><resource path="imd/cladimed"><resource path="/{id}/products"><param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="id"/><method name="GET" id="getDmiProductsByCladimedId"><request><param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="query" name="limit"/><param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="false" type="xs:boolean" style="query" name="filterOnlyCatalogue"/></request><response><representation mediaType="application/atom+xml"/></response></method></resource></resource></resources></application>