app/wadlFiles/application7.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.13 06/29/2012 05:14 PM"/>
    <grammars>
        <include href="application.wadl/xsd0.xsd">
            <doc xml:lang="en" title="Generated"/>
        </include>
    </grammars>
    <resources base="http://dev-software.vidal.net/excalibur-rest-snapshot/rest/">
        <resource path="/pmsi">
            <resource path="postControl">
                <method id="getPostControl" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="codes" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="productId" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="vmpId" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="packId" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ucdId" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="text" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="codesToControl" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="engine" style="query" type="xs:string" default="VIDAL"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="drugCursor" style="query" type="xs:string" default="DEFAULT"/>
                    </request>
                    <response>
                        <representation mediaType="application/atom+xml"/>
                    </response>
                </method>
                <method id="getPostControl" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="request" mediaType="text/xml"/>
                    </request>
                    <response>
                        <representation mediaType="application/atom+xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/text-analysis">
                <method id="analyseText" name="POST">
                    <request>
                        <representation mediaType="text/plain"/>
                    </request>
                    <response>
                        <representation mediaType="application/atom+xml"/>
                    </response>
                </method>
            </resource>
            <resource path="postComplement">
                <method id="postComplement" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="codes" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="productId" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="vmpId" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="packId" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ucdId" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="text" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="codesToControl" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="engine" style="query" type="xs:string" default="VIDAL"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="drugCursor" style="query" type="xs:string" default="DEFAULT"/>
                    </request>
                    <response>
                        <representation mediaType="application/atom+xml"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
